<%- model_class = Restaurant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
 <p> People use Yelp to search for everything from the city's tastiest burger to the most renowned cardiologist. What will you uncover in your neighborhood?</p>
</div>

<div class='row'>
  <% if @restaurants.none? %>
    <p class="text-center"> No restaurants yet!</p>
  <% else %>
    <% @restaurants.each do |restaurant| %>

      <div class='col-sm-5 restaurant <%= restaurant.promoted == true ? "promoted" : "not-promoted" %>'>
        
        <a href="<%= restaurant_path(restaurant)%>">

          <span class="stars"> <%= star_rating restaurant %></span>
          <h4><%= restaurant.name %> </h4>
         
          <div class='restaurant-image'>
           
            <% if !restaurant.image_url.blank? %>
            <img src="<%=  restaurant.image_url %>" />
            <% else %>
            <%= image_tag "no-photo.jpg" %>
            <% end %>
            <p><%= truncate restaurant.description, length: 140 %></p>
          </div>

          <span class="time"><%= time_ago_in_words restaurant.created_at %> ago</span>
          <%= render :partial => 'admin_restaurant_control', :locals => {:restaurant => restaurant} %>

        </a>

      </div>

    <%end%>
  <% end %>
</div>

