
<div class="row">
  <%- model_class = Restaurant -%>
  <div class="page-header">
    <span class='rating'> <%= star_rating @restaurant %></span>
      <h1><%=t '.title', :default => @restaurant.name %> 
      <% if admin_signed_in? %>
        <%= @restaurant.promoted == true ? image_tag('promoted.png') : ''%>
      <% end %>
    <h1>  
  </div>
  <div class="restaurant-text">
    <% unless @restaurant.image_url.blank? %>
      <img class="description-img" src="<%= @restaurant.image_url %>">
    <% else %>
      <%= image_tag "no-photo.jpg", class: "description-img" %>
    <% end %>
    <%= simple_format @restaurant.description %></div>
    <div>
    <% if @restaurant.tags.any? %>
      <% @restaurant.tags.each do |tag| %>
        <%= link_to tag, tag_restaurants_path(tag) %>
      <% end %>
    <% end %>
    </div>



  <dl class="dl-horizontal">

    <dt>
       <h4><%= model_class.human_attribute_name(:address) %>:</h4>
       <h5><%=  @restaurant.address %></h5>
       <h4><%= model_class.human_attribute_name(:price_range) %>:</h4>
       <h5><%= @restaurant.price_range %></h5>
       <h4><%= model_class.human_attribute_name(:opening_hours) %>:</h4>
       <h5>
        <%= simple_format @restaurant.opening_hours  %>
        </h5>
    </dt>
    <dd><p><%= render :partial => 'map_restaurant', :locals => {:restaurant => @restaurant} %>
    </p></dd>
   
  </dl>
  
  <hr/>

  <% if user_signed_in? && !current_user.reviewed?(@restaurant) %>
  <%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: ['btn', 'btn-default'] %>
  <% end %>

   <%= render :partial => 'admin_restaurant_control', :locals => {:restaurant => @restaurant} %>

  <%= link_to t('.back', :default => t("helpers.links.back")),
                restaurants_path, :class => 'btn btn-default'  %>
  <hr>

  <%= render :partial => 'review_list', :locals => {:restaurant => @restaurant} %>


</div> 