
<div class="row">
  <%- model_class = Restaurant -%>
  <div class="page-header">
    <span class='rating'> <%= star_rating @restaurant %></span>
      <h1><%=t '.title', :default => @restaurant.name %><h1>
        
  </div>
<p><%= @restaurant.description %></p>
  <dl class="dl-horizontal">
    <% if admin_signed_in? %>
    <dt><strong><%= model_class.human_attribute_name(:promoted) %>:</strong></dt>
    <dd><%= @restaurant.promoted == true ? "Yap" : "Nope" %></dd>
    <% end %>

    <dt><img class="logo" src="<%= @restaurant.image_url %>"></dt>
    <dd><%= render :partial => 'map_restaurant', :locals => {:restaurant => @restaurant} %>
    </dd>
    <!-- <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
    <dd><%= @restaurant.address %></dd>-->

  </dl>
  <hr/>

  <% if user_signed_in? && !current_user.reviewed?(@restaurant) %>
  <%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: ['btn', 'btn-default'] %>
  <% end %>

   <%= render :partial => 'admin_restaurant_control', :locals => {:restaurant => @restaurant} %>

  <%= link_to t('.back', :default => t("helpers.links.back")),
                restaurants_path, :class => 'btn btn-default'  %>
  <hr>

  <%= render :partial => 'review_list', :locals => {:restaurant => @restaurant} %>


</div> 